{{extend 'layout.html'}}
{{=bt}}

{{
for m in modals:
=m
pass
}}

<script>
function run_heimpt(id) {
$( "#runHeimpt"+id ).on('shown', function(){
   $("#runHeimptBody"+id).html("running");
   var url= "{{=myconf.take("heimpt.url")}}";
   $.get( url+"/run/project/"+id, function( data ) {
   var dta = document.createElement("div");
   var p;
   d = data.split("\n")
   for (key in d) {
    p = document.createElement("p");
    p.appendChild(document.createTextNode(key+" : "+d[key]));
    dta.appendChild(p);
   }
   $("#runHeimptBody"+id).html(dta);

    });
});
}
{{for i,m in enumerate(modals):}}
run_heimpt({{=i+1}});
{{pass}}
</script>