{{extend 'layout.html'}}
{{=bt}}

{{
for m in modals:
=modals[m]
pass
}}

<script>



function sleep(delay) {
        var start = new Date().getTime();
        while (new Date().getTime() < start + delay);
      }
function run_heimpt(id) {
$( "#runHeimpt"+id ).on('shown', function(){

  var percent = 0;
  var   m_id = "#runHeimptBody"+id;
  $(m_id).css('width', '0px');
  $(m_id).addClass('progress-bar progress-bar-success');
  timerId = setInterval(function() {
    percent += 2;
    $(m_id).css('width', percent + '%');
    $(m_id).html(percent + '%');
    if (percent >= 100) {
      clearInterval(timerId);
      $(m_id).removeClass('progress-bar-striped active');
      $(m_id).html('processing complete');
      $("#runHeimpt"+id ).modal('hide');
    }
  }, 300);

   $("#runHeimptBody"+id).html('<div class="progress" id="submit_progress" style="width:100%"> <div class="" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="'+'#runHeimpt'+id +'" style="width:0%">    0%</div></div>');
   var url= "{{=myconf.take("heimpt.url")}}";
   $.get( url+"/run/project/"+id, function( data ) {
   var dta = document.createElement("div");
   var p;
   d = data.split("\n")
   for (key in d) {
    p = document.createElement("p");
    p.appendChild(document.createTextNode(d[key]));
    dta.appendChild(p);
   }
   $("#runHeimpt"+id ).modal('hide');
   window.location.reload(true);

    });
});
}
{{for i in modals:}}
run_heimpt({{=i}});
{{pass}}
</script>

{{
for m in modals:
}}
<script>
var tree= [{{=XML(result_dir[m])}}];
$('#result_directory_{{=m}}').treeview({data: tree, silent: true ,enableLinks: false});
$('#result_directory_{{=m}}').treeview('collapseAll');
</script>

{{pass}}

