
<div class="listTitle">
    <strong>List Title
    </strong>
    <span ng-if="!content.hasOwnProperty('title')">
        <button class="btn btn-default" ng-click="content['title'] = '';triggerClick('div.listTitle > span > a');">
            Add
        </button>
    </span>
    <span ng-if="!!content.hasOwnProperty('title')">
        <a href="#" editable-text="content['title']">{{content['title'] || 'empty'}}</a>
    </span>
    <button class="btn btn-default pull-right" ng-click="content['ref'].unshift({'element-citation': {'@publication-type': 'book'}});triggerClick('ui.panel-group > li:last-child > h4');">Add item</button>
</div>

<ul ui-sortable="sortableOptions" ng-model="content['ref']" class="panel-group">
    <li ng-repeat="ref in content['ref']" class="panel pane-default">
        <span class="btn btn-default"><i class="glyphicon glyphicon-resize-vertical"></i></span>
        <h4 class="panel-title" ng-model="isOpen" ng-init="false" ng-click="isOpen = !isOpen">
            <span class="pull-left" style="margin-right: 10px;">
                <i class="glyphicon icon" ng-class="{'glyphicon-chevron-up':isOpen,'glyphicon-chevron-down':!isOpen}"></i>
            </span>
            <span>
                <a>
                    <span ng-if="ref.hasOwnProperty('element-citation')">{{ref['element-citation']['label'] || 'empty'}}</span>
                    <span ng-if="ref.hasOwnProperty('mixed-citation')">{{ref['mixed-citation']['label'] || 'empty'}}</span>
                </a>
            </span>
        </h4>
        <span class="btn btn-default pull-right" ng-show="!isOpen" ng-click="content['ref'].splice($index, 1)">
            <i class="glyphicon glyphicon-remove"></i>
        </span>
        <div ng-show="isOpen" class="panel-body">
            <div ng-if="ref.hasOwnProperty('mixed-citation')">

            </div>
            <div style="padding: 5px;">
                <strong>Format:</strong>&nbsp;
                <select  class="form-control" ng-model="ref['element-citation']['@publication-type']" ng-options="type for type in bibType">
                    {{ref['element-citation']['@publication-type'] || 'empty'}}
                </select>
            </div>
            <div class="preview-box"><span ng-bind-html="ref['element-citation'] | chicagoStyle"></span></div>
            <table class="table">
                <tr class="no-border-top ">
                    <th width="25%">Label (short name)
                        <span ng-if="!ref['element-citation'].hasOwnProperty('label')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['label'] = '';triggerClick('td.shortName a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="shortName">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('label')">
                            <a editable-text="ref['element-citation']['label']" onbeforesave="isEmpty($data)">
                                {{ref['element-citation']['label'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td width="10%">
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('label')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'label')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="['book', 'book chapter', 'journal article', 'newspaper/magazine article'].indexOf(ref['element-citation']['@publication-type']) >= 0">
                    <th><span ng-switch="ref['element-citation']['@publication-type']">
                            <span ng-switch-when="journal article">Journal</span>
                            <span ng-switch-when="newspaper/magazine">Newspaper/Magazine</span>
                            <span ng-switch-default>Book</span>
                        &nbsp;Title
                        </span>
                        <span ng-if="!ref['element-citation'].hasOwnProperty('source')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['source'] = '';triggerClick('td.source a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="source">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('source')">
                            <a href="#" editable-text="ref['element-citation']['source']" onbeforesave="isEmpty($data)">
                                {{ref['element-citation']['source'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('source')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'source')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['@publication-type'] === 'book chapter'">
                    <th>Chapter Title
                        <span ng-if="!ref['element-citation'].hasOwnProperty('chapter-title')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['chapter-title'] = '';triggerClick('td.chapterTitle a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="chapterTitle">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('chapter-title')">
                            <a href="#" editable-text="ref['element-citation']['chapter-title']">
                                {{ref['element-citation']['chapter-title'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('chapter-title')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'chapter-title')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="['book review', 'journal article', 'newspaper/magazine article', 'conference proceeding', 'thesis', 'website'].indexOf(ref['element-citation']['@publication-type']) >= 0">
                    <th><span ng-switch="ref['element-citation']['@publication-type']">
                            <span ng-switch-when="book review">Review</span>
                            <span ng-switch-when="thesis">Thesis</span>
                            <span ng-switch-default>Article</span>
                        &nbsp;Title
                        </span>
                        <span ng-if="!ref['element-citation'].hasOwnProperty('article-title') && ref['element-citation']['@publication-type'] !== 'book review'">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['article-title'] = '';triggerClick('td.articleTitle a');">
                                Add
                            </button>
                        </span>
                        <span ng-if="!ref['element-citation'].hasOwnProperty('article-title') && ref['element-citation']['@publication-type'] === 'book review'">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['article-title'] = {'#text': '', 'related-object': {'source': '', 'person-group': {'string-name': [{'surname': '', 'given-names': ''}]}}};triggerClick('td.articleTitle a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="articleTitle">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('article-title') && !ref['element-citation']['article-title']['#text']">
                            <a href="#" editable-text="ref['element-citation']['article-title']">
                                {{ref['element-citation']['article-title'] || 'empty'}}
                            </a>
                        </span>
                        <span ng-if="!!ref['element-citation']['article-title'].hasOwnProperty('#text')">
                            <a href="#" editable-text="ref['element-citation']['article-title']['#text']">
                                {{ref['element-citation']['article-title']['#text'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('article-title')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'article-title')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['@publication-type'] === 'book review'">
                    <th rowspan="2">Review of
                        <span ng-if="!ref['element-citation']['article-title'].hasOwnProperty('related-object')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['article-title'] = {'#text': ref['element-citation']['article-title'], 'related-object': {'source': '', 'person-group': {'string-name': {'surname': '', 'given-names': ''}}}};triggerClick('td.articleTitle a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="articleTitle">
                        <strong>Book Title:</strong>
                        <span ng-if="!!ref['element-citation']['article-title']['related-object'].hasOwnProperty('source')">
                            <a href="#" editable-text="ref['element-citation']['article-title']['related-object']['source']">
                                {{ref['element-citation']['article-title']['related-object']['source'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td rowspan="2">
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('label')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation']['article-title'] = omit(ref['element-citation']['article-title']['#text'])"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['@publication-type'] === 'book review'">
                    <td>
                        <strong>Book Author:</strong>
                        <span ng-if="ref['element-citation']['article-title']['related-object']['person-group']['string-name']">
                            <a href="#" editable-text="ref['element-citation']['article-title']['related-object']['person-group']['string-name']">
                                {{ref['element-citation']['article-title']['related-object']['person-group']['string-name'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                </tr>
                <tr ng-if="typeOf(ref['element-citation']['person-group']) !== 'Array'"> <!-- if only one person group given-->
                    <th>{{(ref['element-citation']['person-group']['@person-group-type'] | capitalize) || 'Author'}}
                        <!--
                        <label tooltip="first name + last name" tooltip-placement="top">
                            <input type="radio" value="person" ng-model="authorFormat.bib" /> person
                        </label>
                        &nbsp;|&nbsp;
                        <label tooltip="collaborative group author / organization" tooltip-placement="bottom">
                            <input type="radio" value="group" ng-model="authorFormat.bib" /> group
                        </label>
                        -->
                        <span ng-if="ref['element-citation']['person-group']">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['person-group'] =  {'@person-group-type': 'author', 'string-name': [{'surname': '', 'given-names': ''}]};triggerClick('td.personGroup a');">
                                Add
                            </button>
                        </span>
                        <span ng-if="!ref['element-citation'].hasOwnProperty('person-group')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['person-group'] =  {'@person-group-type': 'author', 'string-name': [{'surname': '', 'given-names': ''}]};triggerClick('td.personGroup a');">
                                Add
                            </button>
                        </span>
                        <select ng-model="authorType"ng-init="authorType = (ref['element-citation']['person-group']['string-name']['surname'] || ref['element-citation']['person-group']['string-name'][0]['surname'])? 'person': 'group'" class="form-control pull-right">
                            <option title="first name + last name">person</option>
                            <option title="collaborative group author / organization">group</option>
                        </select>
                    </th>
                    <td>
                        <span ng-switch on="authorType">
                            <span ng-switch-when="person">
                                <span ng-if="ref['element-citation']['person-group']['string-name'][0]['surname']" ng-repeat="strname in ref['element-citation']['person-group']['string-name']" track by $index>
                                    <a href="#" editable-text="name['given-names']">{{strname['given-names'] || 'empty'}}</a>
                                    <a href="#" editable-text="name['surname']">{{strname['surname'] || 'empty'}}</a>
                                    <i ng-if="ref['element-citation']['person-group']['string-name'].length > 1" class="glyphicon glyphicon-remove" ng-click="ref['element-citation']['person-group']['string-name'].splice($index, 1)"></i>
                                    <span ng-if="!$last">, </span>
                                </span>
                                <span ng-if="ref['element-citation']['person-group']['string-name']['surname']">
                                    <a href="#" editable-text="ref['element-citation']['person-group']['string-name']['given-names']">{{ref['element-citation']['person-group']['string-name']['given-names'] || 'empty'}}</a>
                                    <a href="#" editable-text="ref['element-citation']['person-group']['string-name']['surname']">{{ref['element-citation']['person-group']['string-name']['surname'] || 'empty'}}</a>
                                </span>
                            </span>
                            <span ng-switch-when="group">
                                <span ng-if="ref['element-citation']['person-group']['string-name'][0]" ng-repeat="strname in ref['element-citation']['person-group']['string-name'] track by $index">
                                    <a href="#" editable-text="name">{{strname || 'empty'}}</a>
                                    <i ng-if="ref['element-citation']['person-group']['string-name'].length > 1" class="glyphicon glyphicon-remove" ng-click="ref['element-citation']['person-group']['string-name'].splice($index, 1)"></i>
                                </span>
                                <span ng-if="ref['element-citation']['person-group']['string-name'] && !ref['element-citation']['person-group']['string-name'][0]">
                                    <a href="#" editable-text="ref['element-citation']['person-group']['string-name']">{{ref['element-citation']['person-group']['string-name'] || 'empty'}}</a>
                                </span>
                            </span>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('person-group')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'person-group')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="typeOf(ref['element-citation']['person-group']) === 'Array'" ng-repeat="group in ref['element-citation']['person-group']"> <!-- if multiple person groups given-->
                    <th>{{(group['@person-group-type'] | capitalize) || 'Author'}}
                        <select ng-model="authorType" ng-init="authorType = (group['string-name']['surname'] || group['string-name'][0]['surname'])? 'person': 'group'" class="form-control pull-right">
                            <option title="first name + last name">person</option>
                            <option title="collaborative group author / organization">group</option>
                        </select>
                        <span ng-if="!ref['element-citation'].hasOwnProperty('person-group')">
                            <button class="btn btn-default pull-right"
                                    ng-click="group =  {'@person-group-type': 'author', 'string-name': [{'surname': '', 'given-names': ''}]};triggerClick('td.personGroup a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td>
                        <span ng-switch on="authorType">
                            <span ng-switch-when="person">
                                <span ng-if="group['string-name'][0]['surname']" ng-repeat="strname in group['string-name']">
                                    <a href="#" editable-text="name['given-names']">{{strname['given-names'] || 'empty'}}</a>
                                    <a href="#" editable-text="name['surname']">{{strname['surname'] || 'empty'}}</a>
                                    <i ng-if="group['string-name'].length > 1" class="glyphicon glyphicon-remove" ng-click="group['string-name'].splice($index, 1)"></i>
                                    <span ng-if="!$last">, </span>
                                </span>
                                <span ng-if="group['string-name']['surname']">
                                    <a href="#" editable-text="group['string-name']['given-names']">{{group['string-name']['given-names'] || 'empty'}}</a>
                                    <a href="#" editable-text="group['string-name']['surname']">{{group['string-name']['surname'] || 'empty'}}</a>
                                </span>
                            </span>
                            <span ng-switch-when="group">
                                <span ng-if="group['string-name'][0]" ng-repeat="strname in group['string-name']">
                                    <a href="#" editable-text="name">{{strname || 'empty'}}</a>
                                    <i ng-if="group['string-name'].length > 1" class="glyphicon glyphicon-remove" ng-click="group['string-name'].splice($index, 1)"></i>
                                    <span ng-if="!$last">, </span>
                                </span>
                                <span ng-if="group['string-name'] && !group['string-name'][0]">
                                    <a href="#" editable-text="group['string-name']">{{group['string-name'] || 'empty'}}</a>
                                </span>
                            </span>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('person-group')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'person-group')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="['book', 'book chapter', 'journal article', 'newspaper/magazine article'].indexOf(ref['element-citation']['@publication-type']) >= 0">
                    <th>Publisher
                        <span ng-if="!ref['element-citation'].hasOwnProperty('publisher-name')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['publisher-name'] = '';triggerClick('td.publisherName a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="publisherName">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('publisher-name')">
                            <a href="#" editable-text="ref['element-citation']['publisher-name']">
                                {{ref['element-citation']['publisher-name'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('publisher-name')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'publisher-name')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="['book', 'book chapter', 'journal article', 'newspaper/magazine article'].indexOf(ref['element-citation']['@publication-type']) >= 0">
                    <th>Location
                        <span ng-if="!ref['element-citation'].hasOwnProperty('publisher-loc')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['publisher-loc'] = '';triggerClick('td.publisherLoc a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="publisherLoc">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('publisher-loc')">
                            <a href="#" editable-text="ref['element-citation']['publisher-loc']">
                                {{ref['element-citation']['publisher-loc'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('publisher-loc')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'publisher-loc')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['@publication-type'] === 'thesis'">
                    <th>Institution
                        <span ng-if="!ref['element-citation'].hasOwnProperty('institution')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['institution'] = '';triggerClick('td.institution a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="institution">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('institution')">
                            <a href="#" editable-text="ref['element-citation']['institution']">
                                {{ref['element-citation']['institution'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('institution')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'institution')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['@publication-type'] === 'thesis'">
                    <th>Type
                        <span ng-if="!ref['element-citation'].hasOwnProperty('annotation')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['annotation'] = '';triggerClick('td.annotation a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="annotation">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('annotation')">
                            <a href="#" editable-text="ref['element-citation']['annotation']">
                                {{ref['element-citation']['annotation'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('annotation')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'annotation')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['@publication-type'] === 'conference proceeding'">
                    <th>Conference name
                        <span ng-if="!ref['element-citation'].hasOwnProperty('conf-name')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['conf-name'] = '';triggerClick('td.confName a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="confName">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('conf-name')">
                            <a href="#" editable-text="ref['element-citation']['conf-name']">
                                {{ref['element-citation']['conf-name'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('conf-name')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'conf-name')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['@publication-type'] === 'conference proceeding'">
                    <th>Conference Location
                        <span ng-if="!ref['element-citation'].hasOwnProperty('conf-loc')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['conf-loc'] = '';triggerClick('td.confLoc a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="confLoc">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('conf-loc')">
                            <a href="#" editable-text="ref['element-citation']['conf-loc']">
                                {{ref['element-citation']['conf-loc'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('conf-loc')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'conf-loc')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="['book', 'book chapter', 'journal article', 'thesis'].indexOf(ref['element-citation']['@publication-type']) >= 0">
                    <th>Year
                        <span ng-if="!ref['element-citation'].hasOwnProperty('year')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['year'] = '';triggerClick('td.year a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="year">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('year')">
                            <a editable-select="ref['element-citation']['year']"
                               e-ng-options="n for n in [] | range:1900:2020">
                                {{ref['element-citation']['year'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('year')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'year')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="['book review', 'newspaper/magazine article', 'website'].indexOf(ref['element-citation']['@publication-type']) >= 0">
                    <th>Publication Date
                        <span ng-if="!ref['element-citation'].hasOwnProperty('date')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['date'] = '';triggerClick('td.date a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="date">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('date')">
                            <a editable-date="ref['element-citation']['date']">
                                {{(ref['element-citation']['date'] | date:"MMMM dd, yyyy") || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('date')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'date')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['@publication-type'] === 'journal article'">
                    <th>Volume
                        <span ng-if="!ref['element-citation'].hasOwnProperty('volume')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['volume'] = '';triggerClick('td.volume a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="volume">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('volume')">
                            <a href="#" editable-text="ref['element-citation']['volume']">
                                {{ref['element-citation']['volume'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('volume')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'volume')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['@publication-type'] === 'journal article'">
                    <th>Number
                        <span ng-if="!ref['element-citation'].hasOwnProperty('issue')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['issue'] = '';triggerClick('td.issue a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="issue">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('issue')">
                            <a href="#" editable-text="ref['element-citation']['issue']">
                                {{ref['element-citation']['issue'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('issue')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'issue')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['@publication-type'] === 'journal article'">
                    <th>Edition
                        <span ng-if="!ref['element-citation'].hasOwnProperty('edition')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['edition'] = '';triggerClick('td.edition a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="edition">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('edition')">
                            <a href="#" editable-text="ref['element-citation']['edition']">
                                {{ref['element-citation']['edition'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('edition')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'edition')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="['book chapter', 'book review', 'journal article', 'newspaper/magazine article'].indexOf(ref['element-citation']['@publication-type']) >= 0">
                    <th>First Page
                        <span ng-if="!ref['element-citation'].hasOwnProperty('fpage')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['fpage'] = '';triggerClick('td.fpage a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="fpage">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('fpage')">
                            <a editable-text="ref['element-citation']['fpage']">
                                {{ref['element-citation']['fpage'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('fpage')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'fpage')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="['book chapter', 'book review', 'journal article', 'newspaper/magazine article'].indexOf(ref['element-citation']['@publication-type']) >= 0 && ref['element-citation']['fpage']">
                    <th>Last Page
                        <span ng-if="!ref['element-citation'].hasOwnProperty('lpage')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['lpage'] = '';triggerClick('td.lpage a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="lpage">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('lpage')">
                            <a editable-text="ref['element-citation']['lpage']">
                                {{ref['element-citation']['lpage'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('lpage')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'lpage')"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>External Link
                        <span ng-if="!ref['element-citation'].hasOwnProperty('ext-link')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['ext-link'] = {'@content-type': 'uri', '@xlink:href': '', '#text': ''};triggerClick('td.extLink a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="extLink">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('ext-link')">
                            <a editable-url="ref['element-citation']['ext-link']['#text']"
                               onaftersave="ref['element-citation']['ext-link']['@xlink:href'] = $data; $data = null;">
                                {{ref['element-citation']['ext-link']['#text'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('ext-link')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'ext-link')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['@publication-type'] === 'journal article'">
                    <th>DOI
                        <span ng-if="!ref['element-citation'].hasOwnProperty('object-id')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['object-id'] = {'@content-type': 'doi', '#text': ''};triggerClick('td.objectId a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="objectId">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('object-id')">
                            <a editable-text="ref['element-citation']['object-id']['#text']">
                                {{ref['element-citation']['object-id']['#text'] || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('object-id')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'object-id')"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="ref['element-citation']['ext-link'] || ref['element-citation']['object-id']">
                    <th>Access Date
                        <span ng-if="!ref['element-citation'].hasOwnProperty('date-in-citation')">
                            <button class="btn btn-default pull-right"
                                    ng-click="ref['element-citation']['date-in-citation'] = {'@content-type': 'accessed', '#text': ''};triggerClick('td.dateInCitation a');">
                                Add
                            </button>
                        </span>
                    </th>
                    <td class="dateInCitation">
                        <span ng-if="!!ref['element-citation'].hasOwnProperty('date-in-citation')">
                            <a editable-date="ref['element-citation']['date-in-citation']['#text']">
                                {{(ref['element-citation']['date-in-citation']['#text'] | date:"MMMM dd, yyyy") || 'empty'}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <button ng-if="!!ref['element-citation'].hasOwnProperty('date-in-citation')" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove" ng-click="ref['element-citation'] = omit(ref['element-citation'], 'date-in-citation')"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </li>
</ul>
