[submodule "tools/meTypeset"]
	path = tools/meTypeset
	url = https://github.com/UB-Heidelberg/meTypeset.git
[submodule "tools/saxon-he"]
	path = tools/saxon-he
	url = https://github.com/pressbooks/saxon-he
