/* CSS style sheet for use with the Journal Publishing DTD, aka. the NLM DTD */
/* Written by Håkon Wium Lie (howcome@princexml.com) January 2007 */
/* Works well with the Prince XML to PDF formatter, www.princexml.com */
/* May be copied, changed and reused for any purpose by anyone */

@page {
  margin: 4em;
}

article { 
  display: block;
  font: 10pt/12pt Bergamo, Georgia, serif;
  text-align: justify;
  hyphenate: auto;
  hyphenate-lines: 2;
  columns: 2;
  prince-text-replace: "'" "\2019";
}

front { 
  display: block; 
  float: top; /* escape two-column layout */
}

journal-meta { display: none }
article-meta { display: block }
article-id { display: none }
article-categories { display: none }
subj-group { display: block }

subject { 
  display: block;
  font-size: 2em;
}

subj-group subj-group { display: none }

title-group { display: block }

article-meta > title-group > article-title {
  display: block;
  font: 24pt/28pt Bergamo, Georgia, serif;
}

contrib-group { display: block;  margin: 0.5em 0 2em;  }
contrib { display: inline }

contrib::after { content: "; " }
name { display: inline }
surname { display: inline }
surname::after { content: ", " }
given-names { display: inline }
role { display: none }

aff { float: bottom; border-top: thin solid black; margin: 0.4em 0 0; padding: 0.5em 0 0 }

author-notes { float: bottom }
author-notes p { margin: 0.4em 0 }

front pub-date, front volume, front issue, front fpage, front lpage, front history  { display: none }

permissions { display: block; margin: 0.5em 0 }
copyright-statement { display: none }
copyright-year { display: none }

abstract { display: block }

body { 
  display: block; 
  line-stacking-strategy: block-line-height; 
}

p { display: block; margin: 0; padding: 0; text-indent: 0 }
p + p { text-indent: 1.5em }
p + p > * { text-indent: 0 }

boxed-text { 
  display: block; 
  background: #BCF;  
  margin: 0 0 0.5em;
  border: thin solid black; 
  padding: 0.5em;
  float: prince-column-top;
}

boxed-text title { margin: 0 }
boxed-text list-item { display: block; border-top: solid thin black; margin: 0.3em 0 0.2em }


sec { display: block }
title { 
  display: block; 
  font: 14pt/24pt Bergamo, Georgia, serif;
  margin: 12pt 0 0; 
  padding: 0;
  text-align: left; 
  page-break-after: avoid;
  prince-hyphenate: none;
}

/*list[list-type="bullet"] { 
  display: block; margin-left: 1em; list-style-type: disc; text-indent: 0 }
list-item { display: list-item }*/

back { display: block; font-size: 0.9em; margin: 2em 0 }
ack { display: block }

ref-list { display: table; margin: 1em 0 }

ref { display: table-row }

label { display: table-cell }

citation, nlm-citation { 
  display: table-cell; 
  padding-left: 0.5em; 
}

person-group {}

citation article-title, nlm-citation article-title { 
  font-style: italic;
}

back source { display: inline }
back year { display: inline }
back year::after { content: ";" }
back volume { display: inline }
back volume::after { content: ":" }
back fpage { display: inline }
back fpage::after { content: " - " }
back lpage { display: inline }
back comment { display: none }
back pub-id { display: none }

xref[rid] { prince-link: attr(rid) }

xref { font-size: 0.7em; line-height: 0.4em; vertical-align: super }
xref sup { font-size: 1em; vertical-align: baseline }

sub { font-size: 0.7em; line-height: 0.4em; vertical-align: sub }
sup { font-size: 0.7em; line-height: 0.4em; vertical-align: super }

italic { font-style: italic }

